* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    color: rgb(51, 51, 51);
}

button {
    font-family: "Muli", sans-serif;
}

path,
i,
svg {
    pointer-events: none;
}

.colors {
    min-height: 80vh;
    display: flex;
    color: rgb(212, 212, 212);
}

.color {
    min-height: 80vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.color h2 {
    font-size: 2rem;
    cursor: pointer;
}

.sliders {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    background: rgb(255, 255, 255);
    padding: 1rem;
    width: 80%;
    border-radius: 1rem 1rem 0rem 0rem;
    /*adding an adjustement class*/
    /*opacity: 0;
    pointer-events: none;*/
    /*transform: translateY(100%);*/
    transition: all 0.5s ease-in-out;
}

.sliders.active {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
}

.sliders button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem 0rem 0rem 1rem;
    background: rgb(73, 73, 73);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: column;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.panel button {
    font-size: 1.2em;
    margin: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background: rgb(31, 33, 63);
    color: white;
    cursor: pointer;
}

.panel p {
    font-size: 1.2em;
    margin: 1rem;
}

.panel button:hover {
    background: rgb(73, 73, 73);
    color: white;
}

.library-panel,
.save-panel,
.generate-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adjust,
.lock {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
}

/*Slider Stuff */
input[type="range"] {
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    height: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
